body {
  background-image: url("src/assets/cyber.jpg"); /* Path relative to public folder */
  background-size: cover;  /* Ensures image covers entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;  /* Ensures the body takes full height */
}
h1 {
  font-family: 'Rubik Bubbles', cursive;  /* Apply the Rubik Bubbles font */
margin-bottom: 1px;
  font-size: 50px;
  text-align: center;
  color: white;
}
.app
{
  display: grid;
  grid-template-rows: 150px auto;
  
}
.app_main{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}
.task_column
{
  width: 33.33%;
  margin: 20px;
}